@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin pseudo($width: 60px, $height: 60px) {
  content: "";
  position: absolute;
  display: block;
  width: $width;
  height: $height;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}

@mixin player-icon() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/a-icon-play.svg");

  @include pseudo(72px, 72px);
}

@mixin recent-sidebar-wrappers-style($border-radius: 5px, $padding: 30px, $background-color: $fantasy) {
  border-radius: $border-radius;
  padding: $padding;
  background-color: $background-color;
}
