<div class="container">
    <div class="row">
        <div class="main__heading-wrap">
            <h2 class="heading-main heading-main--blog-page">Courses</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="search">
            <div class="search__wrap">
                <input type="search" placeholder="Text to search"
                       class="form__input search__field" id="formSearch"
                       [formControl]="searchControl">
                <a href="#" class="btn btn--secondary btn--blog-page">Search</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="add-course">
            <a href="#" class="btn btn--secondary btn--blog-page"
               [routerLink]="['./add']">Add
                course</a>
        </div>
    </div>
</div>

<app-course *ngFor="let course of courses"
           [course]="course"
           (deleted)="handleDelete($event)"
           (edit)="handleEdit($event)"></app-course>
    <h1 class="courses-heading" *ngIf="coursesExists">Courses is Empty</h1>

<div class="container">
    <div class="row">
        <div class="read-more">
            <a href="#" class="btn btn--secondary btn--blog-page">Load more</a>
        </div>
    </div>
</div>
