//Common colours
$defaultText: $tundora;
$underlineColor: $tundora;
$secondaryTextColor: $white;

//Buttons
$btnMainColor: $white;
$btnMainBgColor: $fuscousGray;
$btnMainHoverBgColor: $mineShaft;
$btnSecondaryColor: $fuscousGray;
$btnSecondaryHoverColor: $white;
$btnSecondaryHoverBgColor: $mineShaft;
$menuBtnBgColor: $white;

//About us section colour
$typographyBgColor: $sundown;
$iconSetBgColor: $anakiwa;
$accurateBgColor: $sundown;

//Latest portfolio
$popupBgColor: $black;

//Testimonials
$persontTxtBgColor: $abbey;
$testimonialstext: $white;

//Contact us
$contactSectionBgColor: $cornflowerBlue;
$contactUsInfoBorderColor: $alto;
$contactPseudoItemsColor: $tundora;
$contactTopEdgeBgColor: $cornflowerBlue;
$inputBorderColor: $alto;
$inputErrorBorderColor: $froly;
