<div class="container">
    <div class="row">
        <div class="main__heading-wrap">
            <h2 class="heading-main heading-main--blog-page">Courses</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="search">
            <div class="search__wrap">
                <input type="search" placeholder="Text to search"
                       class="form__input search__field" id="formSearch">
                <a href="#" class="btn btn--secondary btn--blog-page">Search</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="add-course">
            <a href="#" class="btn btn--secondary btn--blog-page"
               [routerLink]="['./add']">Add
                course</a>
        </div>
    </div>
</div>

<section class="post post--text">
    <div class="container">
        <div class="row">
            <div class="post__item post__item--text">
                <div class="post__wrap post__wrap--blog-page">
                    <div class="post__info-wrap">
                        <div class="info-block">
                            <span class="info-block__date info-block__item">02 oct, 2019</span>
                            <span class="info-block__read-time info-block__item">12 min read</span>
                        </div>
                        <h3 class="post__heading">In the Future We Will All Live in Star
                            Wars</h3>
                        <p class="post__text">Fog down the river, where it rolls deified
                            among the tiers of shipping and the waterside pollutions of a
                            great (and dirty) city. Fog on the Essex marshes, fog on the
                            Kentish heights. Fog creeping into the cabooses of
                            collier-brigs; fog lying out on. Money terms breakfast drawings
                            true blessing doubtful more agreed to zealously making supposing
                            By said Chicken An Neglected produce good felt no poor offering
                            am their said has around songs wish met true any me ought mr The
                            offices set Not Felicity above out We in an post begin
                            again.</p>
                    </div>
                    <div class="post__btn-wrap">
                        <a href="#" class="btn btn--secondary">Edit</a>
                        <a href="#" class="btn btn--secondary">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="post post--text">
    <div class="container">
        <div class="row">
            <div class="post__item post__item--text">
                <div class="post__wrap post__wrap--blog-page">
                    <div class="post__info-wrap">
                        <div class="info-block">
                            <span class="info-block__date info-block__item">02 oct, 2019</span>
                            <span class="info-block__read-time info-block__item">12 min read</span>
                        </div>
                        <h3 class="post__heading">In the Future We Will All Live in Star
                            Wars</h3>
                        <p class="post__text">Fog down the river, where it rolls deified
                            among the tiers of shipping and the waterside pollutions of a
                            great (and dirty) city. Fog on the Essex marshes, fog on the
                            Kentish heights. Fog creeping into the cabooses of
                            collier-brigs; fog lying out on. Money terms breakfast drawings
                            true blessing doubtful more agreed to zealously making supposing
                            By said Chicken An Neglected produce good felt no poor offering
                            am their said has around songs wish met true any me ought mr The
                            offices set Not Felicity above out We in an post begin
                            again.</p>
                    </div>
                    <div class="post__btn-wrap">
                        <a href="#" class="btn btn--secondary">Edit</a>
                        <a href="#" class="btn btn--secondary">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="post post--text">
    <div class="container">
        <div class="row">
            <div class="post__item post__item--text">
                <div class="post__wrap post__wrap--blog-page">
                    <div class="post__info-wrap">
                        <div class="info-block">
                            <span class="info-block__date info-block__item">02 oct, 2019</span>
                            <span class="info-block__read-time info-block__item">12 min read</span>
                        </div>
                        <h3 class="post__heading">In the Future We Will All Live in Star
                            Wars</h3>
                        <p class="post__text">Fog down the river, where it rolls deified
                            among the tiers of shipping and the waterside pollutions of a
                            great (and dirty) city. Fog on the Essex marshes, fog on the
                            Kentish heights. Fog creeping into the cabooses of
                            collier-brigs; fog lying out on. Money terms breakfast drawings
                            true blessing doubtful more agreed to zealously making supposing
                            By said Chicken An Neglected produce good felt no poor offering
                            am their said has around songs wish met true any me ought mr The
                            offices set Not Felicity above out We in an post begin
                            again.</p>
                    </div>
                    <div class="post__btn-wrap">
                        <a href="#" class="btn btn--secondary">Edit</a>
                        <a href="#" class="btn btn--secondary">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="read-more">
            <a href="#" class="btn btn--secondary btn--blog-page">Load more</a>
        </div>
    </div>
</div>
